body {
  background: linear-gradient(to bottom, #0d0f1a,#2a3b4c);
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: left;
}
h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  text-align: left;
}
p {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  text-align: left;
}
#image {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  margin-top: 1rem;
  font-size: 1.25rem;
  text-align: left;
}
a {
 color: #d6bfff;
 text-decoration: none;
 font-weight: bold;
}
a:hover {
  color: #ffffff;
}